#gameContainer {
    text-align: center;
}

#battyUp {
    /* height: 45px;
    width: 100px; */
    background: url('../img/GlitterBat.png') no-repeat;
    background-size: 100%, 100%;
}

#battyDown {
    left: 18px;
    height: 9px;
    width: 18px;
    /* background: url('../img/Batty.png') -18px 0; */
}